@import '../../assets/css/_colors';
@import '../../assets/css/_pixels';
.grabProfileImage {
  padding-top: $small;
  margin-top: $large;
  background-attachment: fixed;
  background-size: contain;
}
.grabProfileImage img {
  border-radius: 50%;
  max-width: 90px;
  min-width: 20px;

  border: ($small/3) solid $light;
}
