@import '../../../assets/css/_colors';
@import '../../../assets/css/_pixels';
@import '../../../assets/css/_radius';

.oneResult {
  margin: 3px 0.5%;
  width: 46%;
  float: left;
  position: relative;
  border-radius: 5px;
}
.oneResult .grabDivPoints {
  width: 85%;
  top: 0;
  bottom: 0;
  left: 15%;
  padding: 0;
  float: left;
  margin: 0;
  position: relative;
  z-index: 0;
}
.oneResult .grabDivPoints div {
  width: 10%;
  top: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  padding: 15px 0;
  float: left;
  margin: 0;
  position: relative;
  z-index: 0;
  border-radius: $xsmall;
}
.oneResult b {
  z-index: 1;
  padding: 15px 0;
  position: absolute;
  left: 80px;
}
.oneResult img {
  width: 15%;
  z-index: 1;
  padding: 0px 0;
  position: absolute;
  left: 5px;
}
.oneResult div::before {
  content: '';
  position: absolute;
  margin: 0;
  top: 0;
  right: 0;
  width: 1px;
  height: 100%;
  background: #000000;
  z-index: 1;
  opacity: 0.3;
}

span.correct {
  background: olivedrab !important;
}
span.wrong {
  background: $danger;
}