.nameAdded {
  border: #a7a7a8 1px solid;
  padding: 20px;
  margin: 20px 0px;
  border-radius: 8px;
}

#submit {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 15px !important;
  margin-top: 10px;
}
