$bg-color: #fff;
$text-color: white;

#Home {
}
body {
  background: #000000 url(../../assets/images/abs-01.jpg) center top;
  background-attachment: fixed;
  background-size: 100%;
  position: relative;
  height: 100%;
}

.grabName {
  max-width: 400px;
  width: 100%;
  float: left;
  margin: 100px auto 0 auto;
  position: relative;
  z-index: 2;
}
.grabName img {
  margin: 0 auto;display: block;
  width: 100%;
  max-width: 400px
}
.grabGraphic {
  margin: 0;
  float: left;
  position: relative;
}
.grabGraphic img {
  margin: 80px 0 0 100px;
  max-width: 600px;
}

@media screen and (min-width: 1100px) {
  .grabName {
    width: 50%;
  }
  .grabGraphic {
    width: 50%;
  }
}
@media screen and (max-width: 1100px) {
  .grabName {
    width: 100%;
  }
  .grabGraphic {
    width: 100%;
    display: none
  }
}

.social-login {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 15px !important;
}
