@import '../../../assets/css/_colors';
@import '../../../assets/css/_pixels';

.oneResult {
  padding: 15px 1%;
  margin: 3px 0.5%;
  width: 46%;
  float: left;
}
.oneResult span {
  float: right;
}

.correct {
  background: olivedrab !important;
}
.wrong {
  background: $danger;
}
